h1 {
  background: linear-gradient(.25turn,rgb(52, 99, 188),rgb(32, 8, 75));
  color: white;
  text-align: center;
  padding-bottom: 15px;
}

div {
  display:flex;
}

aside {
  width:30vw;
  margin:0px 15px 0px 8px;
}

input {
  text-align: center;
  width: 100%;
  margin-bottom: 15px;
}

#search {
  width: 100%;
  background-color: rgb(80,152,230);
  color:white;
  border-radius: 5px;
}

hr {
  background:black;
  height:2px;
}

.previous-search {
  width: 100%;
  background-color: rgb(174,174,174);
  color:black;
  border-radius: 5px;
  margin-bottom:15px;
}

main {
  width:70vw;
  display:block;
  flex-wrap: wrap;
  margin-right:15px;
}

#right-top {
  border:solid 1px black;
  width: 100%;
  padding:10px 0px 0px 5px;
  height: 230px;
}

img {
  height: 50px;
}

#uv-value-low {
  background-color: rgb(113, 216, 87);
  padding:2px 15px 4px 15px;
  color: white;
  border-radius: 8px;
}

#uv-value-medium {
  background-color: rgb(226, 230, 32);
  padding:2px 15px 4px 15px;
  color: white;
  border-radius: 8px;
}

#uv-value-high {
  background-color: rgb(233, 173, 43);
  padding:2px 15px 4px 15px;
  color: white;
  border-radius: 8px;
}

#uv-value-very-high {
  background-color: rgb(206, 64, 64);
  padding:2px 15px 4px 15px;
  color: white;
  border-radius: 8px;
}

#uv-value-extremely-high {
  background-color: rgb(159, 63, 197);
  padding:2px 15px 4px 15px;
  color: white;
  border-radius: 8px;
}

#right-bottom {
  margin-top:10px;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 220px;
}

h3 {
  width: 100%;
}

article {
  padding:5px;
  border:solid 1px black;
  background-color: rgb(97, 132, 170);
  color:white;
  width: 19%
}